/* src/App.css или аналогичный файл */
html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
}

#page-container {
    position: relative;
    min-height: 100%;
}

#content-wrap {
    padding-bottom: 80px; /* высота футера */
}
.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content-wrap {
    flex: 1;
}